<!DOCTYPE html>
<html>
<head>
    <title>Agregar Receta</title>
</head>
<body>
    <h1>Agregar Receta</h1>
    <form action="/agregar_receta" method="post">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br>
        <label for="ingredientes">Ingredientes:</label><br>
        <textarea id="ingredientes" name="ingredientes"></textarea><br>
        <label for="pasos">Pasos:</label><br>
        <textarea id="pasos" name="pasos"></textarea><br>
        <input type="submit" value="Agregar Receta">
    </form>
</body>
</html>
