<!DOCTYPE html>
<html>
<head>
    <title>Ver Recetas</title>
</head>
<body>
    <h1>Recetas</h1>
    <ul>
    {% for receta in recetas %}
        <li>
            <strong>{{ receta['nombre'] }}</strong><br>
            Ingredientes: {{ receta['ingredientes'] }}<br>
            Pasos: {{ receta['pasos'] }}

            <!-- Botón para editar receta -->
            <form action="{{ url_for('editar_receta', nombre=receta['nombre']) }}" method="get">
                <input type="submit" value="Editar">
            </form>

            <!-- Botón para eliminar receta -->
            <form action="{{ url_for('eliminar_receta', nombre=receta['nombre']) }}" method="post">
              <input type="submit" value="Eliminar">
             </form>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
